html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 80% Arial, Helvetica, sans-serif;
  color: #000;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

p
{ padding: 0 0 10px 0;
  color: #1D1D1D;
  text-shadow: 1px 1px #FFF;
  line-height: 1.7em;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Arial, Helvetica, sans-serif;
  color: #0043A8;
  text-shadow: 0px -1px 0px #fff;
  letter-spacing: -1px;
  margin: 0 0 10px 0;}

h2
{ font: normal 165% Arial, Helvetica, sans-serif;}

h3
{ font: normal 130% Arial, Helvetica, sans-serif;
  color: #017AE1;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 0px 0;
  font: normal 150% Arial, Helvetica, sans-serif;
  color: #FFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Arial, Helvetica, sans-serif;
  color: #888;
  padding-bottom: 15px;}
  
span
{ color: #0043A8;
  text-shadow: 0px -1px 0px #87B7FF;}

a, a:hover
{ color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav
{ margin-left: auto; 
  margin-right: auto;}

#main
{ background: transparent;}
  
header
{ height: 120px;
  background: #1A6FFD;
  background: -moz-linear-gradient(#1A6FFD, #0043A8);
  background: -o-linear-gradient(#1A6FFD, #0043A8);
  background: -webkit-linear-gradient(#1A6FFD, #0043A8);
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

#banner
{ width: 940px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;
  background: transparent;}
 
nav
{ height: 50px;
  background: #1A6FFD;
  background: -moz-linear-gradient(#0043A8, #1A6FFD);
  background: -o-linear-gradient(#0043A8, #1A6FFD);
  background: -webkit-linear-gradient(#0043A8, #1A6FFD);}  
  
#menubar
{ width: 940px;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
  background: #0043A8;
  background: -moz-linear-gradient(#1A6FFD, #0043A8);
  background: -o-linear-gradient(#1A6FFD, #0043A8);
  background: -webkit-linear-gradient(#1A6FFD, #0043A8);} 
  
#welcome
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;} 
  
#welcome_slogan
{ width: 880px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  background: transparent;}   
   
#welcome H3
{ font: normal 300% Arial, Helvetica, sans-serif;
  letter-spacing: -3px;
  text-shadow: 0px -1px 0px #000;
  color: #FFF;}

#welcome_slogan H3
{ font: normal 200% Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  text-shadow: 0px -1px 0px #000;
  color: #FFF;}  
  
ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 
  
ul#nav li.current a
{ color: #FFF;
  background: #1A6FFD;
  -moz-box-shadow:    inset 0 0 10px #002C6E;
  -webkit-box-shadow: inset 0 0 10px #002C6E;
  box-shadow:         inset 0 0 10px #002C6E;   
  text-shadow: none;}
  
ul#nav li:hover a
{ color: #FFF;
  background: #1A6FFD;
  -moz-box-shadow:    inset 0 0 10px #002C6E;
  -webkit-box-shadow: inset 0 0 10px #002C6E;
  box-shadow:         inset 0 0 10px #002C6E; 
  text-shadow: none;}

#site_content
{ width: 940px;
  overflow: hidden;
  margin-bottom: 30px;
  background: #E1E1E1;
  border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
  -webkit-border: 0px 0px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;} 

.sidebar_container
{ float: right;
  margin: 20px 10px 0 10px;
  width: 210px;
  padding: 0;}

.sidebar
{ float: left;
  width: 190px;
  padding-left: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  width: 190px;}

.sidebar h2
{ padding: 5px 0 0 0;
  font: normal 140% Arial, Helvetica, sans-serif;
  height: 30px;
  text-shadow: 0px -1px 0px #fff;
  color: #0043A8;}  
  
.sidebar p
{ color: #1d1d1d;}

#content
{ width: 680px;
  margin: 0 0 20px 20px;
  float: left;}

.content_item
{ width: 680px;
  margin-top: 20px;
  margin-bottom: 20px;}
 
.content_imagetext
{ width: 680px;
  padding: 5px;
  margin: 20px 0 0 0;
  float: left;}
 
.content_image
{ float: left; 
  width: 150px;
  height: 150px;
  margin: 0 20px 10px 0;
  border: 1px solid #FFF;
  padding: 10px;
  -moz-box-shadow:    inset 0 0 20px #ADADAD;
  -webkit-box-shadow: inset 0 0 20px #ADADAD;
  box-shadow:         inset 0 0 20px #ADADAD;}
  
.content_container
{ width: 320px;
  padding: 5px;
  margin: 20px 10px 0 0;
  float: left;}
  
footer
{ width: 940px;
  height: 50px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center; 
  text-shadow: 1px 1px #FFF;
  color: #1D1D1D;
  background: #E1E1E1;
  background: -moz-linear-gradient(#FFF, #BBB);
  background: -o-linear-gradient(#FFF, #BBB);
  background: -webkit-linear-gradient(#FFF, #BBB);
  border: 1px solid #DDD;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

footer a, footer a:hover
{ text-shadow: 1px 1px #FFF;
  color: #1D1D1D;
  text-decoration: none;
  padding-bottom: 20px;}

footer a:hover
{ text-decoration: underline;}

footer a, footer a:hover
{ text-shadow: 1px 1px #FFF;
  color: #1D1D1D;
  text-decoration: none;}

footer a:hover
{ text-decoration: underline;}
  
 .readmore a
{ color: #FFF;
  text-shadow: 1px 1px #004C8C;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  height: 15px;
  width: 80px;
  padding: 5px 2px 7px 2px;
  background: #0043A8;
  background: -moz-linear-gradient(#43A9FF, #0043A8);
  background: -o-linear-gradient(#43A9FF, #0043A8);
  background: -webkit-linear-gradient(#43A9FF, #0043A8);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;
  text-shadow: 1px 1px #004C8C;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;
  text-shadow: none;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #5082BD; 
  color: #FFF;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 680px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 680px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #000;}
 
 .hide{
	 display:none !important}

	 .show{display:block !important}
	 .invisible{visibility:hidden}